<div class="container__small_card">
  <div class="container__small_card-content">
    <div class="photo__small_card">
      <img
        src="https://us.123rf.com/450wm/shushanto/shushanto2209/shushanto220900703/191842443-destruction-of-planets-concept-art-illustration-background-image.jpg?ver=6"
        alt=""
        srcset=""
      />
    </div>
    <div class="title__small_card">
      <h1><a href="#">Saiu a nova versão do Angular Bash!
        Mais poderoso do que nunca, agora sim vamos presenciar
        o poder computacional! Mas primeiro, vamos entender o motivo
        do TypeScript ser essencial com este framework atualmente.
      </a></h1>
    </div>
  </div>
  <div class="container__small_card-separator">
    <hr>
  </div>
</div>
